<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>

<body class="flex flex-col items-center justify-center max-h-screen bg-gray-100 mx-50 space-y-50 ">

        <h1 class="text-3xl font-bold mb-4">Video to Music App</h1>
        <div class="flex space-x-4">
            <!-- Left Video Input -->
            <div class="w-1/2">
                <label for="video1" class="block text-lg font-medium mb-2">Upload Video 1</label>
                <input type="file" id="video1" name="video1" class="w-full p-2 border border-gray-300 rounded-md">
            </div>

            <!-- Right Video Input -->
            <div class="w-1/2">
                <label for="video2" class="block text-lg font-medium mb-2">Upload Video 2</label>
                <input type="file" id="video2" name="video2" class="w-full p-2 border border-gray-300 rounded-md">
   
        </div>
    </div>
</body>

</html>